
.input-container {
    display: flex;
    justify-content: center;   

  }

.label-name {
    margin-left: 25px;
}

.label-address {
    margin-left: 50px;
}

.btn-order-now {
    width: 250px;
    height: 60px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    background: rgb(231, 191, 10);
    border-radius: 10px;
    margin-top: 50px;

}

.check-box {
    margin-right: 60px;
}

.errors {
    margin-top: -12px;
    color: red;
    font-size: 15px;
}