
.input-container {
    display: flex;
    justify-content: center;   

  }

.errors {
    margin-top: -12px;
    color: red;
    font-size: 15px;
    margin-left: 50px;
}

.btn-order-cart {
  width: 250px;
  height: 60px;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
  background: rgb(231, 191, 10);
  border-radius: 10px;
  margin-top: 50px;
}