.btn-order-now {
    width: 250px;
    height: 60px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    background: rgb(231, 191, 10);
    border-radius: 10px;
    margin-top: 50px;

}