.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .pizza-loader {
    background-image: url('./img/333.png'); 
    background-size: cover;
    width: 500px;
    height: 400px;
    /* border-radius: 150px; */
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .load-name {
      font-size: 20px;
    margin-top: 20px;
  }